.linkItem {
     text-decoration: none;
     color: #000;
}

.footerContainer {
     margin: auto;
     max-width: 1400px;
}

.separator {
     border-top: solid 1px;
     border-color: $light-brown;
     margin-bottom: 25px;
}
