.list {
  list-style: none;
  // width: 600px;
  max-width: 80%;
  color: $white;
  text-align: left;
  padding-left: 20%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-gap: 10px;
  background: $mainBlue;
}

.listItem {
  border: 1px solid $white;
  border-radius: 25px 25px 0 0;
  @media screen and (max-width: $break) {
    text-align: center;
    width: 100%;
    padding: 2px 1px;
    margin: 2px 1px;
    overflow: visible;
  }
}

.listDescription {
  // margin: 5%;
  padding-left: 3%;
}

.courseTitle {
  padding: 12px;
  color: #101820ff;
  background-color: #e96245;
  text-align: center;
  cursor: pointer;
  margin: 0;
  border-radius: 25px 25px 0 0;
}

#myEducation {
  background: $mainBlue;
}
