#skillCard {
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 70%;
  padding: 2px 2px 2px 2px;
  margin: 20px 40px 2px 40px;
  text-align: center;
  :hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
}
.skillArea {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-gap: 10px;
  margin: 0;
  // flex-direction: column;
  @media screen and (max-width: $break) {
    text-align: center;
    width: 100%;
    padding: 2px 1px;
    margin: 2px 1px;
    overflow: visible;
  }
}
.skillIcons {
  float: left;
  width: 25%;
  overflow: hidden;
  @media screen and (max-width: $break) {
    text-align: left;
    // width: 100%;
    // padding: 2px 1px;
    // margin: 2px 1px;
    overflow: visible;
  }
}
.skillText {
  overflow: hidden;
  @media screen and (max-width: $break) {
    text-align: center;
    width: 100%;
    // padding: 2px 1px;
    // margin: 2px 1px;
    overflow: visible;
  }
}
