// About Section
html {
  background-color: $black;
}

#aboutWrapper {
  background-color: $black;
  color: $white;
}
#textLeft {
  display: flex;
  text-align: left;
  position: fixed;
  top: 30%;
  botton: 70%;
  left: 10%;
  text-transform: uppercase;
}
#backHomeLeft {
  display: flex;
  text-align: left;
  position: fixed;
  top: 50%;
  botton: 50%;
  left: 15%;
  :hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
}
#aboutContentRight {
  text-align: left;
  justify-content: left;
  margin-left: 30%;
}
a {
  color: $gray;
}
