@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
///
@import "./variables";
@import "../components/Profile/profile_Education";
@import "../components/Projects/projects_Timeline";
@import "../components/Profile/profile_Skills";
@import "../components/views/footer.scss";
@import "../components/Profile/profile";

body {
    font-family: "Architects Daughter", "Indie Flower", "Kalam", sans-serif;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    // background-color: $platinum;
    //background-color: #212121;
}

.notebook {
    display: inline-block;
    margin: 0 auto;
    position: relative;
    //background-color: #946947;
    background: linear-gradient(175deg at 0 0, #b69180, #946947); /*#C9A8A1*/
    // width: 203px;
    // height: 280px;
    box-shadow: 1px -1px 5px #555;
    border-top: 1px solid #946947;
}

.notebook:after {
    position: absolute;
    content: "";
    bottom: -1px;
    left: 0px;
    height: 4px;
    width: 100%;
    background-size: 3px 1px;
    background-image: -webkit-radial-gradient(40% 100% at 0 0, circle, transparent 20%, #946947 35%);
    background-image: -moz-radial-gradient(40% 100% at 0 0, circle, transparent 20%, #946947 35%);
    background-image: -ms-radial-gradient(40% 100% at 0 0, circle, transparent 20%, #946947 35%);
    background-image: -o-radial-gradient(40% 100% at 0 0, circle, transparent 20%, #946947 35%);
    background-image: radial-gradient(40% 100% at 0 0, circle, transparent 20%, #946947 35%);
}

.notebook:before {
    position: absolute;
    content: "";
    top: -5px;
    left: 0;
    height: 10px;
    width: 99%;
    background-size: 9px 12px;
    background-image: -webkit-radial-gradient(5% 40%, circle, transparent 70%, #555 20%);
    background-image: -moz-radial-gradient(5% 40%, circle, transparent 70%, #555 20%);
    background-image: -ms-radial-gradient(5% 40%, circle, transparent 70%, #555 20%);
    background-image: -o-radial-gradient(5% 40%, circle, transparent 70%, #555 20%);
    background-image: radial-gradient(circle at 5% 40%, transparent 70%, #555 20%);
}

// $grid-color: #d95d16;

// .paperBackGround {
//     background-color: rgba(#fff, 0.5);
//     background-image: linear-gradient($grid-color 2px, transparent 2px),
//         linear-gradient(90deg, $grid-color 2px, transparent 2px),
//         linear-gradient(rgba(150, 150, 150, 0.3) 1px, transparent 1px),
//         linear-gradient(90deg, rgba(150, 150, 150, 0.3) 1px, transparent 1px);
//     background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
//     background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
// }

.paperBackGround {
    background-color: rgba(#fff, 0.5);
    background-image: linear-gradient(rgba(150, 150, 150, 0.3) 1px, transparent 1px),
        linear-gradient(90deg, rgba(150, 150, 150, 0.3) 1px, transparent 1px);
    background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}
