@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import "./variables";
@import "../components/Profile/profile_Education";
@import "../components/Projects/projects_Timeline";
@import "../components/Profile/profile_Skills";
@import "../components/views/footer.scss";
@import "../components/Profile/profile";

body {
    font-family: "Kalam", "Montserrat", "Open Sans", sans-serif;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    // background-color: $platinum;
    //background-color: #212121;
}

*,
::after,
::before {
    box-sizing: inherit;
}
