body {
  background-color: $white;
  color: $black;
  font-family: "Roboto Condensed", sans-serif;
  //   font-style: $white;
  #houseIcon {
    height: 55px;
    width: 55px;
  }
  #about {
    background-color: $black;
    color: $white;
  }
  #projects {
    background-color: $white;
    color: $black;
    float: right;
  }
  #base {
    padding-top: 100px;
  }
}
