* {
  box-sizing: border-box;
}

html {
  height: 100%;
  // width: 100vw;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  // font-size: 14px;
  // font-weight: normal;
  letter-spacing: 1.2px;
  min-height: 100%;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

#applicationWrapper {
  height: 100vh;
  min-height: 100%;
  width: 100vw;
  background-color: $white;
}

a {
  color: #1f456e;
  text-decoration: none;
}

li {
  list-style-type: none;
}
