.navIsVisible {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 150%;
  a {
    text-decoration: none;
    text-transform: uppercase;
    text-size-adjust: 450%;
    cursor: pointer;
    // Mobile adjust
    @media screen and (max-width: $break) {
      cursor: none;
    }
  }
  #whiteBox {
    width: 100%;
    height: 100%;
    background: $white;
    // margin-left: 15px;
    a {
      background-color: $white;
      color: $black;
      display: flex;
      text-align: left;
      position: fixed;
      top: 50%;
      botton: 50%;
      right: 20%;
      // Mobile adjust
      @media screen and (max-width: $break) {
        right: 8%;
      }
    }
    :hover {
      -webkit-transform: scale(1.5);
      transform: scale(1.5);
    }
  }
  #blackBox {
    width: 100%;
    height: 100%;
    background-color: $black;
    // margin: 15px;
    a {
      background-color: $black;
      color: $white;
      display: flex;
      text-align: right;
      position: fixed;
      top: 50%;
      botton: 50%;
      left: 20%;
      // Mobile adjust
      @media screen and (max-width: $break) {
        left: 8%;
      }
    }
    :hover {
      -webkit-transform: scale(1.5);
      transform: scale(1.5);
    }
  }
}

.navIsInvisible {
  display: none;
}
