// Project Section

html {
  background-color: $white;
}
#projectWrapper {
  background-color: $white;
  color: $black;
}
#textRight {
  display: flex;
  text-align: right;
  position: fixed;
  top: 30%;
  botton: 70%;
  right: 10%;
  text-transform: uppercase;
}
#backHomeRight {
  display: flex;
  text-align: right;
  position: fixed;
  top: 50%;
  botton: 50%;
  right: 15%;
  :hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
}
#projectContentLeft {
  text-align: left;
  justify-content: left;
  margin-right: 30%;
}
.card {
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 80%;
  padding: 20px 16px;
  margin: 20px 16px;
  :hover {
    // box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
  }
}
.projectImage {
  :hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-filter: grayscale(10);
    filter: grayscale(10);
  }
}
.projectText {
  text-indent: 5%;
}
