#skillCard {
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 70%;
  padding: 2px 2px 2px 2px;
  margin: 20px 40px 2px 40px;
  text-align: center;
  :hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
}
.skillArea {
  display: flex;
  margin: 0;
  flex-direction: column;
}
.skillIcons {
  float: left;
  width: 25%;
  overflow: hidden;
}
.skillText {
  overflow: hidden;
}
