// Colors
$black: #0a1a29;
$white: #fbfcf8;
//$gray: #c7d3d4ff;
$gray: #eee2dc;
$red: #f35e3d;
$lightBlue: #9cc3d5ff;
$darkBlue: #123c69;
$mainBlue: #0a1a29;
$touchOfPurple: #ac3b61;
// Breakpoint for small screen
$break: 768px;
