.Navigation {
  display: grid;
  box-sizing: border-box;
}

#generalView {
  display: grid;
  grid-template-areas: "blackBox whiteBox";
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}

#whiteBox {
  grid-area: whiteBox;
  width: 100%;
  height: 100%;
  background: $white;
}

#nameLeft {
  color: $white;
  float: right;
  margin-right: 2%;
}

#blackBox {
  grid-area: blackBox;
  width: 100%;
  height: 100%;
  background-color: $black;
}

#nameRight {
  color: $black;
  float: left;
  margin-left: 2%;
}

#houseIconWhite {
  height: 60px;
  width: 60px;
  background-color: $white;
}

#houseIconBlack {
  height: 60px;
  width: 60px;
  background-color: $black;
}

#showProfileButton {
  background-color: $black;
  color: $white;
  float: right;
}

#showProjectsButton {
  background-color: $white;
  color: $black;
  float: left;
  // margin-left: 1%;
  // margin-top: 48%;
}

.navigationButtons {
  font-size: 500%;
  margin-top: 50%;
}

#profileGoHome {
  grid-area: "goHome_Profile";
  float: left;
}

#projectsGoHome {
  grid-area: "goHome_Project";
  float: right;
  // margin-top: 2%;
}

// Split view of the different views

#profilePage {
  // grid-area: "profilePage";
  // background-color: yellow;
  margin: 0;
  padding: 0;
  border: 0;
  display: flexbox;
}

#projectsPage {
  grid-area: "projectPage";
}

// #profileSplitView {
//   display: grid;
// }
